extends layout

block content
  h1= title
  hr

  p The inventory contains the following amount of resources:

  ul
    li #[strong Items:] !{item_count}
    li #[strong Categories:] !{category_count}
    li #[strong Manufacturers:] !{manufacturer_count}