extends layout

block content
  h1= title
  hr

  if errors
    ul
      each error in errors
        li.text-danger!= error.msg
  
  form(method="POST" action="")
    div.form-group.mb-1
      label.form-label(for="name") Name:
      input.form-control(type="text" name="name" id="name" required=true value=(undefined===manufacturer?'':manufacturer.name))
    div.form-group.mb-1
      label.form-label(for="address") Address:
      input.form-control(type="text" name="address" id="address" required=true value=(undefined===manufacturer ? '' : manufacturer.address))

    button.btn.btn-primary.mt-3(type="submit") Submit